<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>com.retailer.online.SignInController</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>par</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123</param-value>
        </init-param>
        <init-param>
            <param-name>salutation</param-name>
            <param-value>pm</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>com.retailer.online.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.retailer.online.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>com.retailer.online.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.retailer.online.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>com.retailer.online.ProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppingCartController</servlet-name>
        <servlet-class>com.retailer.online.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentController</servlet-name>
        <servlet-class>com.retailer.online.ContentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PayControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/ProductDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppingCartController</servlet-name>
        <url-pattern>/shoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentController</servlet-name>
        <url-pattern>/ContentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
